@model RecordBookApp.Models.BookView

<div>
    <form asp-action="Create" method="post" id="createBookForm">
        <div class="mb-3">
            <label asp-for="BookName" class="form-label"><h6>Enter Book Name:</h6></label>
            <input asp-for="BookName" class="form-control" placeholder="e.g. Daily Expense" />
            <span asp-validation-for="BookName" class="invalid-feedback d-block" style="font-size: small; margin-top: 10px; border-radius: 4px;"></span>
        </div>
    </form>
</div>
