@model RecordBookApp.Models.Book

<div>
    <form id="deleteBookForm" asp-action="DeleteBook">
        @Html.AntiForgeryToken()
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <div>Are you sure? You will lose all entries of this book permanently.</div>
        </div>

        <div class="mb-3">
            <label>Please type "<b>@Html.DisplayFor(model => model.BookName)</b>" to confirm:</label>
            <input type="text" class="form-control spaced-input" id="confirmBookName" name="confirmBookName" placeholder="Type book name here" required>
            <span class="text-danger small-text" id="confirmBookNameError"></span>
        </div>

        <input type="hidden" id="deleteBookId" name="BookId" value="@Model.BookId" />
    </form>
</div>

<style>
    .text {
        font-size: 15px;
    }

    .spaced-input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .small-text {
        font-size: 0.875em;
        display: block;
        margin-top: 5px;
    }

    .alert-warning {
        display: flex;
        align-items: center;
        font-size: 0.875em;
    }

        .alert-warning .bi {
            font-size: 1.5em;
        }

    .me-2 {
        margin-right: 0.rem !important;
    }

    .error-message {
        background-color: #f8d7da;
        padding: 10px;
        border-radius: 4px;
        font-size: small;
    }
</style>
